<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="container">
        <div class="row">
            <div class="container-fluid">

                <div class="col-md-8">
                    <div data-template="app:lang" class="page-header">
                        <h1 lang="en">Welcome to patrimonium_editor</h1>
                        <h1 lang="fr">Bienvenue sur le patrimonium_editor</h1>
                    </div>
                    <div data-template="app:lang">
                         <div lang="en" class="d">
                            <p>Patrimonium_Editor is a basic front-end for the Patrimonium_Editor application suite as decribed <a href="https://patrimonium.huma-num.fr/atlas/editor/">here</a> and made available <a>here</a>.</p>
                            <p>AusoHNum is the center for Digital Humanities of the  <a href="http://ausonius.u-bordeaux-montaigne.fr/" target="_blank">Institute Ausonius</a>, a joint research unit (UMR 5607) of the <a href="http://www.cnrs.fr/" target="_blank">CNRS</a>  and the <a href="http://www.u-bordeaux-montaigne.fr" target="_blank">University of
                                Bordeaux Montaigne</a>. Its members are involved in research as well as teaching activities, and take part to many of the projects run at the Institute, all along the full process of research: data acquisition, processing, enrichment, analysis and publication. Beside an internationally recognized expertise in databases related to humanities and social sciences, AusoHNum is also specialized in geomatics and 3D modeling applied to archeology. </p>
                        </div>
                        <div lang="fr" class="d">
                            <p>Patrimonium_Editor est une application front-end de la suite applicative décrite <a href="https://patrimonium.huma-num.fr/atlas/editor/">ici</a> et dont les sources sont disponibles <a href="">ici</a>.</p>
                            <p>AusoHNum est le service Humanités numériques de l'<a href="http://ausonius.u-bordeaux-montaigne.fr/" target="_blank">Institut Ausonius</a>, une Unité Mixte (UMR 5607) du <a href="http://www.cnrs.fr/" target="_blank">CNRS</a> et de l'université <a href="http://www.u-bordeaux-montaigne.fr" target="_blank">Bordeaux Montaigne</a>.</p>
                        </div>
                        </div>
                </div>
                <div class="col-md-4">
                    <div data-template="app:lang" class="newsPanel">
                        <h1 lang="en">News</h1>
                        <h1 lang="fr">Actualité</h1>
                        <div lang="en">
                           
                        </div>
                        <div lang="fr">
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>