





.labelURI, .labelSquare {
    display: inline-block;
    margin: 2px;
    padding: 2px;
    border-radius: 0em!important;
    margin-right: -1px;
}
.labelBlue {
    background-color: #337ab7!important;
    display: inline-block!important;
    border-radius: 1.2em!important;
    padding-right: 0.2em!important;
    padding-left: 0.3em!important;
    color: white!important;
    /* margin-top: 10px; */
    margin-right: 5px!important;
    font-size: 0.9em;
}