.panel-default>.panel-heading{
    background-color: rgba(125,29,32, .4);
}

.teiElementGroup{
/*    display: inline-table!important;*/
/*    width: auto;*/
}


/*.ace_editor {
        position: relative !important;
        border: 1px solid lightgray;
        margin: auto;
        height: 200px;
        width: 80%;
    }

.ace_editor.fullScreen {
        height: auto;
        width: auto;
        border: 0;
        margin: 0;
        position: fixed !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

.fullScreen {
        overflow: hidden
    }

.scrollmargin {
        height: 500px;
        text-align: center;
    }

.large-button {
        color: lightblue;
        cursor: pointer;
        font: 30px arial;
        padding: 20px;
        text-align: center;
        border: medium solid transparent;
        display: inline-block;
    }
.large-button:hover {
        border: medium solid lightgray;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 0 12px 0 lightblue;
    }

#XfTextArea{
     opacity: 0;
     position: fixed;
     top: 0;
 }



 .xfValue{
/\* background-color: red;*\/
 }
 .widgetContainer{
 
 padding: 0;
 }
 .modal4editor .btn-group{
     display: table;
     margin-top: -5px;
 }
 .modal4editor h5{
     font-weight: bold;
 }
 
 .modal{
     min-width: 50%;
     left: 5%;
     top: 5%;
     right:auto;
     bottom: auto;
     overflow-y: auto;
     padding: 1em;
 }
 .invalid-feedback {
/\*    display: none;*\/
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
}

.ace_editor{
    width: 100%;
    margin:0;
    box-shadow:0px 5px 5px #888888;
    }
    



lb::before {}
lb::after {}



/\*supplied::before{content: "["}
supplied::after{content: "] (?)"}
*\/
gap::before{content: "["}
gap::after{content: attr(extent)"]"}

.gap8letters {content: "[— — — — — — — —]"}



.cursortPreview{margin:2em;}*/