/* Application styles could go here */
/*footer .poweredby { float: right; margin: 33px 10px 0 0;}*/
footer .poweredby img {height: 55px; }

/* Application styles could go here */
/*Blue =  #7d1d20;   */

/*rouge carole =  #911B1F;   */
/*rouge alberto =  #7D1D20;   */
/*                                      =rgba(125,29,32,1)*/
body{
        font-family: 'helvetica', gardiner, sans-serif!important;
background:transparent;

}

p {
    text-align: justify;
}
#main-container{
/*    padding: 100px;*/
padding-right:0!important;
padding-left: 0!important;

}

#header{
/*padding: 0 150px 0 150px;*/
/*margin: 0 0 0px 0;*/
background: #31708f;
 height: auto;
/* width: 100%;*/
}






#main-menu > ul > li.active, #main-menu > ul > li.active > a, 
#main-menu > ul > li.active > a:focus, #main-menu > ul > li.active > a:visited{

text-decoration: underline;

text-underline-offset: 10px;
text-decoration-thickness: 2px;
background-color: #7d1d20;
color:white!important;}

#logoForMenu{position: relative; left: -20px;
margin-top: 10px;}
.container-fluid{
/*padding: 0px!important;*/

}

.navbar{
    border-radius: 0;
/*    margin: 0 2em 0em -2em;*/
/*    width: 100%;*/
}


.header .container-fluid#content, .navbar.nav  {
/*    float: none;*/
/*    margin: 0 auto;*/
/*    padding: 0 0px;*/
    width: 100%;
    border-radius: 0;
    
}
div.navbar-header{
    margin: -5px 0 20px 0;
    
    font-family: 'helvetica';
}
div.navbar-header div.h1{
margin: 12px 0 0 0;
font-variant: small-caps;
}

div.navbar-header div.h4{
padding: 0 0 0 25px;
margin: 40px 0 0 0px;
border-style: solid;
    border-width: 0 0 0 1px;
vertical-align:middle!important;
line-height: 1.2em;
letter-spacing: 1px;

display: inline-block;
}


.navbar-default {
    background: #31708f!important;
    color: white;
    border:none;
    
}

@media (max-width : 1300px){

.navbar-default {
   
/*    margin: 0 auto;*/
/*    width: 100%;*/
    
}}

@media (min-width : 1301px){
#header{
/*padding: 0 150px 0 150px;*/
}
.navbar-default {
   
/*    margin: 0 auto;*/
/*    width: 100%;*/
    
}}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: white;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}

.navbar-toggle {
    margin: 25px 15px 0 0;
}
.navbar-toggle collapsed{
    height:50px;

}

.titleInPrint{
    clear: left!important;
    
    
}


.navbar-brand img{
    float:left;
/*    position: fixed;*/
    top:2px;
    left: 1em;
    height: 100px;
    margin: 7px 5px 7px 2px;
    
    
}

.navbar-nav > li > a{
    padding: 20px 20px 21px 15px;
    
}

@media (min-width : 1200px){
.navbar-nav > li > a{
/*    padding: 20px 20px 21px 15px;*/
    
}
}
ul.nav.navbar-nav li a div {
    font-weight: 500;
    letter-spacing:1px;
    
}
.navbar-brand div{
    display: block;
    float: left;
margin: 1px 0 0 10px;

}

.adminMenu{
        
    
    
    padding: 13px 5px 18px 5px;
    margin: 11px -15px 10px 10px;
}
.adminLogin {margin-top: 10px; padding-bottom: 6px;}
.adminMenu:hover{
    background-color: #607D8B;
    
}
/*.adminMenu > div > a > ul > div > i{
            position: relative;
            top: 5px;
            left: -15px;
            }*/


#main-container > nav > div.navbar-header > a:hover, #main-container > nav > div.navbar-header > a:focus{color: white;}
.navbar-default .navbar-brand{
    color: white;
}

/*.material-icons{
  margin: 0 10px 0 0;
}*/

#topheader.navbar-header{
    float: none;
    height: 120px;
}
.navbar-header:hover{
/*    color: red!important; */
}


.text-uppercase{
    text-transform: uppercase;
}

#main-container > nav > div.navbar-header > a:nth-child(3) > div.h1.hidden-xs {
    margin:0;
    font-variant: small-caps;
}


.page-header h1{color: #7D1D20;}



/*PEOPLE PAGE*/
.bio{
/*    clear: both;*/
    padding: 0 0 0 1em;
}
.bio > h3{
    color: #7D1D20;  
}
.bio > .role{
display: block;
    font-style:italic;
    font-size: 1.5em;
    margin-bottom: 10px ;
}
.person-portrait{
    float: left;
    margin:0 1em 0.2em 0;
}

.bioblurb{
    float: left;
    text-align: justify;
/*    text-justify: inter-word;*/
}
.lastname{
     font-variant: small-caps;
}

#content > div > div > div > div > div > p.bioblurb > img{
    height: 100px;
    }

/*Footer*/
footer {
        
        margin-top: 20px;
/*    padding: 0 0px;*/
    width: 100%;
    border-radius: 0;

}

footer .logo-footer img{
    float: left;
    height: 55px;
    margin: 1em;
}








@media (max-width : 1199px){
    .logo{
        background-position: 5px 5px;
        background-size: auto 40px
    }
}
@media (min-width : 1200px){
    .logo{
        background-position: 7px 7px;
        background-size: auto 46px
    }
}

@media (min-width : 991px) and (max-width : 1200px){
    .navbar .navbar-nav > li{
    
        font-size: 14px
    }
}
.logoTop > img{
    height: 90px;
    float: right;
    padding: 20px 10px 0 0;
/*    background-color:  white;*/
}
.navbar .navbar-nav > li > a:hover{
    background-color: #607D8B;
}
.navbar a{
/*    max-height: 50px;*/
    color: white;
    
}
.navbar li,
.navbar span{
    margin-bottom: 0px;
}


@media (min-width : 1200px){
    .navbar{
        height: 60px;
    }
    .navbar a{
        max-height: 65px
    }
}
.navbar-default{
    margin-bottom: 0
}
.navbar-default .dropdown-menu{
/*    padding-top: 0;*/
    padding-bottom: 0
}
.navbar-default .dropdown-menu li > a{
    padding: 5px 15px 5px 25px !important;
    font-weight: 300 !important;
    line-height: 30px !important
}
.navbar-default .dropdown-menu li > a:hover{
    background-color: #607D8B !important;
    color: #ffffff !important
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover{
/*    background-image: url('../images/tei-publisher-logo-contrast-color.svg');*/
    background-repeat: no-repeat;
    color: inherit;    
/*    width: 140px;*/
/*    margin-left: 0 !important*/
}
@media (max-width : 1199px){
    .navbar-default .navbar-brand,
    .navbar-default .navbar-brand:focus,
    .navbar-default .navbar-brand:hover{
        background-position: 5px 5px;
        background-size: auto 40px
    }
}
@media (min-width : 1200px){
    .navbar-default .navbar-brand,
    .navbar-default .navbar-brand:focus,
    .navbar-default .navbar-brand:hover{
        background-position: 7px 7px;
        background-size: auto 46px
    }
}
.navbar-default .navbar-brand span,
.navbar-default .navbar-brand:focus span,
.navbar-default .navbar-brand:hover span{
    margin-left: 60px;
    display: none
}
.navbar-collapse{
    max-height: 90vh !important
}
.navbar-collapse .navbar-nav{
    
    margin-top: 0px;
    margin-bottom: 0px;
/*    width: 70%;*/
}
@media (max-width : 991px){
    .navbar-collapse{
/*        background-color: #7d1d20*/
    }
}
.navbar-collapse .glyphicon.visible-sm{
    font-size: 20px
}



/*NEW DOCUMENT*/

.form h1{
margin: 0 0 15px 0;}


.admin-subpanel{
    background-color: #f2f2f2;
    padding: 0 0 1em 1em;
    margin: 1em 0 0em 0;
    
}

#newDoc  .panel-default > .panel-heading{
    background-color: #7D1D20;
    color: white;
    
}

#newDoc .panel{
    margin-bottom: 0;
    border: 0px solid transparent;
   border-radius: 0px;
}

 #newDoc .widgetContainer{
/*     width: 100%!important;*/
     box-shadow:0px 2px 2px #888888;
     display: inline-block;
 }
 
 .newDocHeader{
     background-color: #7D1D20;
     color: white;
     margin: 5px;
 }

.btn-primary > .xfValue {
 color:white!important;}

.btn {
/*    margin: 5px;*/
}

.btn-group-vertical > .btn {
    margin: 0;
}

 .fullwidth .widgetContainer{
    width: 100%!important;
}

.xfControl{margin: 10px 5px 10px 5px;}

.xfTextarea.xfControl, .xfInput.xfControl, .xfSelect1.xfControl{

/*width: 100%;*/
/*display: inline-block;*/


}
.xfControl select{
    width: 100%;
}


.labelOut {
    margin:0 1em 0 0;
    color: black;
    position: absolute;
    top: -20px;
    left: -3px;
}
.labelInline{
    display: inline;
    margin: 0 1em 0 0;
    
}
.xfValue{
    width: 100%;
}
.xfInput .xfValue{
/*    display: inline-block;*/
/*    float: left;*/
/* width: 90%!important;   */
    
/*    display:inline-block*/
}

input.xfValue {
 width: 100%;
/* border: none;*/
}
 #docTitleInput{
/*     height: 3em;*/
 }
 
 
 

/*div.xfTextarea div.widgetContainer{
    width: 100%!important;
}*/


/*#docTitleInput > div{
    width: 100%;
    display: inline;
}*/
#docTitleInput-label{
    display: inline;
    float: left;
    
}
.xfInput > .xfLabel,
.xfInput > .xfValue{
/*    display: inline-block;*/
/*    float: left;*/
/*    width: 100%!important;*/
    
}
 /*textarea{
 vertical-align:inherit;
 width: 100%;
 }*/
 
 
.xfTextarea > .xfLabel{
    display: block;
}
.xfTextarea {
/* display: table-row;*/
/* width: 100%!important;*/
 margin: 1em 0 0 0;
}
.x-large-textarea textarea {
   height: 20em;
   width: 100%;
}


/*a:active, a:focus, a:visited{color: #7D1D20;}*/

.link2personalpages > li{
    border : none;
}
.news-entry {
            -moz-border-radius-topleft: 15px;
-webkit-border-top-left-radius: 15px;
 border-top-left-radius: 15px;
-moz-border-radius-topright: 50px;
-webkit-border-top-right-radius: 50px;
border-top-right-radius: 50px;
-moz-border-radius-bottomright: 15px;
-webkit-border-bottom-right-radius: 15px;
border-bottom-right-radius: 15px;
-moz-border-radius-bottomleft: 50px;
-webkit-border-bottom-left-radius: 50px;
border-bottom-left-radius: 50px;
        margin: 15px 0 15px 0;
        padding: 5px 15px 5px 15px;
        background-color: #DEDEDE;
        display: block;
/*        color: white;*/
        
}
.news-entry h3{
        
        font-variant: small-caps;
        font-stretch: expanded;
        color: #7D1D20;}
.conference-day h5{font-variant: small-caps;}
.conference-day li{list-style: none;
            line-height: 1.5em;
            margin-left: -10px;}
.conference-day li span {
            font-style: italic;
            margin-left: 1em;}
.conference-location, .conference-location-session{
    font-style: italic;
    margin-left: 1em;
}
.conference-time{
color: #4A1D7D;
font-style: normal!important;}

.page-content h2{
    font-size: 25px;
}
.news-entry a{
/*color: white;*/
}
.openSourceButton{
    position: fixed;
/*    height: 3em;*/
    right: 2px;
    top: 220px;
}
.jobAdvert{
    border: 1px solid #7D1D20;
    padding: 0.1em 1em 1em 1em;
}

.newsPanel{
    margin: 2em 0 0 1em;
    padding: 0 0 0 1em;
    
    border-left: 1px solid #7D1D20;
}
.newsPanel h1 {
    color: #7D1D20;
    
    
}
.newsPanel h3 {
    
    font-size: 17px;    
}
.newsPanel h4 {
    
    font-size: 15px;    
}

.xfHint{display: none;}

.ui-autocomplete{
    background: #ffffff;
    box-shadow: 5px 5px #888888;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #ddd #ddd #fff;
}


.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;}
 .nav-tabs .nav-item {
    margin-bottom: -1px;
}


.nav-link {
    display: inline-block;
    padding: .5rem 1rem;
}
#dataNavBar{ display:block;
padding:initial;
margin:-2px;
min-height:32px !important
/*    height: 1em!important;*/
    }
#dataNavBar.navbar-collapse .navbar-nav{
    padding-top: 2px;
    border-top: 0px;}

#dataNavBar > .navbar-nav > li > a {padding-top:5px; padding-bottom:5px;}
display:inline-flex;
   height: content();

/*@media (max-width : 1199px){
   #dataNavBar >ul { display:inline-flex;
   height: content();
    }
 }

@media (min-width : 1200px){
#dataNavBar > .navbar-nav > li > a {padding-top:5px; padding-bottom:5px;}
}
@media (max-width : 1199px){
    #dataNavBar {margin-left: 2px;width: 100%;
    margin:-3px;}
    #dataNavBar > .navbar-nav > li{
/\*    font-size: 9px!important;*\/
                    width: max-content!important}
    #dataNavBar > .navbar-nav > li > a {
    padding-top:0px; padding-bottom:0px;}
    #datanavbar > ul > li > a{display: inline-flex;
    height: 100%;}
}
@media (max-width : 500px){
      #dataNavBar > .navbar-nav > li{
    font-size: 9px!important;
                    }  
}
*/
.smallIcon {
                padding-top: 1px !important;
                padding-bottom: 5px !important;}

#datanavbar > ul > li.active, #datanavbar > ul > li.active > a, 
#datanavbar > ul > li.active > a:focus, #datanavbar > ul > li.active > a:visited{

background-color: #7d1d20;
color:white!important;}

#datanavbar > ul > li:not(.active) > a, #datanavbar > li:not(.active) > a:visited{ color:#7d1d20!important; background-color: white!important;}
#datanavbar > ul > li:not(.active) > a:hover{ color:white!important;background-color: #607D8B!important;}



.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {color: inherit; background-color: inherit; 
/*                    text-decoration: underline;*/
                    }


.ui-autocomplete
{
z-index: 1051;
}
#peripleoWidget{
    width: 100%;
    
    border: 1px;
}
input[type="radio"], input[type="checkbox"]{
    margin: 4px;
}
#placePreviewPanel{
    height: 200px;
}
#previewMap { height: 350px; }

 .dateInput{
     display: inline;
     width: 50%!important;
     border-radius: 4px;
/*     border: 1px solid red;*/
 }
 
 /*Modal windows*/
#text2importInputEditor{
    width: 100%;
/*    max-width: 80em;*/
}

.bfHidden{
    position: fixed;
    left: 10100px;
}

#peopleListDiv{padding: 10px;
 }
#personRecord{
  border-left: solid #7d1d20;
  border-top: solid #7d1d20; 
  padding: 0 10px 0 10px;
  position: fixed;
  top: 200px;}
  
#loaderBig {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


.spanLink{ cursor: pointer;}

.leaflet-control-layers-toggle {
/*  background-image: url(https://i.stack.imgur.com/3keSg.png) !important;*/
/*	background-color: #2da0e2;*/
	width: 30px!important;
	height: 30px!important;
            background-size: 20px 20px!important;
}
.topCenter {
       padding-top:5%;
       padding-left: 50%;
    }
/*@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
*/

.panel-noBorder-noMargin {
    box-shadow: 0 0px 0px!important;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
scrollbar-width: thin;

}
#placesListSimple_wrapper > div > div > div > div.dataTables_scrollBody::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#placesListSimple_wrapper > div > div > div > div.dataTables_scrollBody::-webkit-scrollbar {
  width: 10px;
}
#placesListSimple_wrapper > div > div > div > div.dataTables_scrollBody::::-webkit-scrollbar-thumb
{
	background-color: #7D1D20;
	border: 2px solid #555555;
}

#mapHolder{margin-top: 140px;

padding: 0 0 0 10px;}

.exportButton{
    color: #fff!important;
    background-color: #337ab7!important;
    border-color: #337ab7!important;
    padding: 1px 5px!important;
    font-size: 12px!important;
    line-height: 1.5!important;
    min-height: 4px!important;
    border-radius: 1px!important;
}

.itemLabel{font-weight:bold;
/*                    padding-right: ;*/
                    color: #337ab7;}
.smallSquare{
    font-size: small;
    text-align: center;
    display:block;
    
    
    
    color: white;
    background-color:#7D1D20;
    margin: 2px;
    padding: 8px;
    height: 70px;
    width: 70px;
}

a.whiteLink, a:visited.whiteLink, a:hover.whiteLink, a:active.whiteLink{
    color: white;
    text-decoration: none;
}
