<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="container">
        <div class="row" data-template="app:navBar"/>
        <div class="row">



            <div class="col-md-9">
                <div class="page-header">
                     <h1>Database</h1>
                    <p>This is the landing page for the database itself.
                    The Patrimonium_editor generic application does not include yet proper "public" pages.
                    To access the data, please login first.</p>
                
                </div>
            </div>

            <div class="row" data-template="app:lang">
                <div lang="en" class="container-fluid">
                    
                    
                    <div class="col-xs-3 col-sm-3 col-lg-3">
                        
                        
                            <div data-template="app:show-if-logged-in">
                            <!--
                                <div style="position: relative; top: -5em;">
                                <h4>Access to data</h4>-->
                            <div class="row">
                                <div class="smallSquare col-xs-1 col-sm-1 col-lg-1">
                                    <a href="/documents/admin/" class="whiteLink">
                                        <i class="glyphicon glyphicon-file"/>
                                        <div style="display: block; margin: 2px;" data-template="app:documentsInCollectionsCount" class=""/>Docs</a>
                                </div>
                                <div class="smallSquare col-xs-1 col-sm-1 col-lg-1">
                                    <a href="/people/manager/" class="whiteLink">
                                        <i class="glyphicon glyphicon-user"/>
                                        <div style="display: block; margin: 2px;" data-template="app:peopleCount" class=""/>People</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="smallSquare col-xs-1 col-sm-1 col-lg-1">
                                    <a href="/places/manager/" class="whiteLink">
                                        <i class="glyphicon glyphicon-pushpin"/>
                                        <div style="display: block; margin: 2px;" data-template="app:placesCount" class=""/> Places</a>
                                </div>
                                <!--<div class="smallSquare col-xs-1 col-sm-1 col-lg-1">
                                    <a href="/atlas/map/" class="whiteLink">
                                        <i class="glyphicon glyphicon-globe"/>
                                        <br/>
                                        <br/>Map</a>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-4">
                    
                    <p><span data-template="app:documentCount" class="badge badge-primary"/> <a href="/documents/list/">Documents</a></p>
                    <p><span data-template="app:peopleCount" class="badge badge-primary"/> <a href="/people/list/">People</a></p>
                    <p><span data-template="app:placesCount" class="badge badge-info"/> <a href="/places/list/">Places</a></p>
                    
                </div>-->
                </div>


                <div lang="fr" class="container-fluid">
                    
                    <div class="col-xs-3 col-sm-3 col-lg-3">
                        
                        <!--<div style="position: relative; top: -5em;">
                            <h4>Accéder aux données</h4>-->
                        <div>
                            <div class="row">
                                <div class="smallSquare col-xs-1 col-sm-1 col-lg-1">
                                    <a href="/documents/list/" class="whiteLink">
                                        <i class="glyphicon glyphicon-file"/>
                                        <div style="display: block; margin: 2px;" data-template="app:documentsInListCount" class=""/>Docs</a>
                                </div>
                                <div class="smallSquare col-xs-1 col-sm-1 col-lg-1">
                                    <a href="/people/list/" class="whiteLink">
                                        <i class="glyphicon glyphicon-user"/>
                                        <div style="display: block; margin: 2px;" data-template="app:peopleCount" class=""/>Pers.</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="smallSquare col-xs-1 col-sm-1 col-lg-1">
                                    <a href="/places/list/" class="whiteLink">
                                        <i class="glyphicon glyphicon-pushpin"/>
                                        <div style="display: block; margin: 2px;" data-template="app:placesCount" class=""/> Lieux</a>
                                </div>
                                <div class="smallSquare col-xs-1 col-sm-1 col-lg-1">
                                    <a href="/atlas/map/" class="whiteLink">
                                        <i class="glyphicon glyphicon-globe"/>
                                        <br/>
                                        <br/>Carte</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-4">
                    
                    <p><span data-template="app:documentCount" class="badge badge-primary"/> <a href="/documents/list/">Documents</a></p>
                    <p><span data-template="app:peopleCount" class="badge badge-primary"/> <a href="/people/list/">People</a></p>
                    <p><span data-template="app:placesCount" class="badge badge-info"/> <a href="/places/list/">Places</a></p>
                    
                </div>-->
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="$ausohnum-lib/resources/css/ausohnumCommons.css"/>
    <script> $("#topheader").hide(); $("#logoForMenu").removeClass("hidden");
        if($("#apcMenu").hasClass("active")){}
        else{$("#apcMenu").addClass("active");}
        //$("#datanavbar-places").addClass("active");</script>
</div>