<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page-apc.html" data-template-at="content">
    <div class="container">
        <div class="row" data-template="app:navBar"/>
        <div class="row">
            <div class="container-fluid">
                <div>
                    <h2>P<span style="font-suze: smaller;">ATRIMONIUM</span> editor</h2>
                    <p>The P<span style="font-suze: smaller;">ATRIMONIUM</span> editor is an eXist-db application that writes and reads XML/TEI files. It features a front-end interface that can be customized in order to display specific elements of a TEI document. Editing an element is done through user-friendly imputes fields, dropdown lists or other widgets. The app is primarily conceived for the edition and annotation of epigraphic texts and comes with a series of tools to easily encode epigraphic annotations and for metadata enrichment.</p>
                    
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/WjiGaSVJBCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"/>
                    
                </div>
                
                
                
            </div>
        </div>
    </div>
    <script>
        $("#logoForMenu").removeClass("hidden");
        if($("#apcMenu").hasClass("active")){} else{$("#apcMenu").addClass("active");}
        $("#datanavbar-editor").addClass("active");</script>
</div>