<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page-apc.html" data-template-at="content">
    <div class="container">

        <div class="row" data-template="app:navBar"/>
        <div class="row" data-template="app:lang">
            <div lang="en" class="col-xs-12 col-sm-12 col-md-12">
                <h2>Browse People</h2>
                <p>This page lists all persons mentioned in the documentation.</p>
                <div data-template="app:peopleList"/>
            </div>
            <div lang="fr" class="col-xs-12 col-sm-12 col-md-12">
                <h2>Parcourir la liste des Personnes</h2>
                <p>Cette page liste toutes les personnes mentionnées dans la
                    documentation.</p>
                <div data-template="app:peopleList"/>
            </div>
        </div>
    </div>
    <script> $("#logoForMenu").removeClass("hidden");
        if($("#apcMenu").hasClass("active")){}
        else{$("#apcMenu").addClass("active");}
        $("#datanavbar-people").addClass("active");</script>
</div>