<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page-apc.html" data-template-at="content">
    <div class="container">
        <div class="row" data-template="app:navBar"/>
        <div class="row" data-template="app:lang">
            <div lang="en" class="col-xs-12 col-sm-12 col-md-12">
                <h2>Browse Places</h2>
                
                <br/>
            </div>
            <div lang="fr" class="col-xs-12 col-sm-12 col-md-12">
                <h2>Parcourir la liste des Lieux</h2>
                
                <br/>
            </div>
        </div>
        <div data-template="app:placesList"/>
    </div>
    <script> //$("#topheader").hide(); $("#logoForMenu").removeClass("hidden");
        if($("#apcMenu").hasClass("active")){}
        else{$("#apcMenu").addClass("active");}
        $("#datanavbar-places").addClass("active");</script>
</div>